@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}

body{
  background-color: #141416;
  
}

::-webkit-scrollbar{
  display: none;
}

section{
  margin-top: 5%;
}

.my-class:hover button{
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  

}
.my-class:hover img{
  opacity: 0.4;
}

.my-class button{
  opacity: 0;
  
}
